*{
  margin: 20px;
  padding: 0;
  background-color:#263238;
}

.App{
  display: block;
  text-align: center;
}

.App h1{
  color: aliceblue;
  font-family: monospace;
}
.about{
  color: aliceblue;
  font-family: monospace;
  font-size: 18px;
}
h4{
  color: aliceblue;
  font-family: monospace;
  font-size: 18px;
}
.App button{
  color: aliceblue;
  font-size: 36px;
}
.state{
  color: aliceblue;
  font-size: 64px;
}
